.screen {
	width: 100vw;
	height: 100vh;
	background-color: rgb(209 254 255 / 72%);
}

.elements {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 25vh;
	display: flex;
}
.elements > button {
	font-size: 1.01rem;
	letter-spacing: 0.7rem;
}
.fC {
	background-color: bisque;
	width: 15vw;
	height: 15vh;
}

.swapButton {
	background-color: blanchedalmond;
	width: 10vw;
	height: 10vh;
}

.sC {
	background-color: aliceblue;
	width: 15vw;
	height: 15vh;
}
